*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微软雅黑";
}
body{
  background:rgb(242, 242, 242);;
}
a{
  text-decoration: none;
  font-size: 12px;
  color:rgb(102, 102, 102);
}
h3{
  color:rgb(51, 51, 51);
  font-size: 12px;
  font-weight: normal;

}
@import "mixins";
$s-size:765px;
@mixin ons{
  @media screen and (max-width: $s-size) {
    @content;
  }
}
//顶部
.phone-list li .bread{
  width:48px;
  height:48px;
  position:absolute;
  left:0;
  top:0;

  .crusts{
    width:17px;
    height:1px;
    background:#fff;
    position: absolute;
    left:16px;
    top:20px;
  }
  .crustx{
    width:17px;
    height:1px;
    background:#fff;
    position: absolute;
    left:16px;
    top:27px;
  }
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  z-index: 12;
  @include ons{
    height: 48px;
  }
  .header-inner{
    max-width: 1000px;
    margin: 0 auto;
    height: 44px;
    .phone-list{
      display: none;
      @include ons{
        text-align: justify;
        display: block;
      }
      .phone-item{
        display: inline-block;
        transition: opacity .3s ease;
        .nav-hidden{
          position: absolute;
          top: 48px;
          width: 100%;
          background:#000;
          padding: 0 48px;
          display: none;
          transform: translate3d(0,-120%,0);
          li{
            border-bottom: 1px solid rgba(255,255,255,0.3);
            box-sizing: border-box;
          }
        }
      }
      .phone-s{
        a:hover{
          opacity: 0.5;
        }
      }
    }
    .chuxian{
      .phone-item  .nav-hidden{
        display: block;
        @for $i from 1 through 8{
          li:nth-child(#{$i}){
            animation: comein .8s ease ($i/2)*0.1s both;
          }
        }
        transition: transform .8s ease;
        transform: translate3d(0,0,0);
      }

        .crusts{
          transition: transform .8s ease;
          transform: rotate3d(0,0,1,45deg);
          transform-origin: 5px 1px;
        }
        .crustx{
          transition: transform .8s ease;
          transform: rotate3d(0,0,1,-45deg);
          transform-origin: 3px -1px;
        }

    }
    .xiaoshi{
      .phone-item  .nav-hidden{
        display: block;
        @for $i from 1 through 8{
          li:nth-child(#{$i}){
            animation: comeout .8s ease ($i/2)*0.1s both;
          }
        }
        transition: transform 1s ease;
        transform: translate3d(0,-120%,0);
      }
    }
    $phone-map:(
            "apple_small":21px,
            "mac_small":36px,
            "ipad_small":35px,
            "iphone_small":58px,
            "watch_small":52px,
            "tv_small":23px,
            "music_small":48px,
            "support_small":68px,
            "search_small":22px,
            "bag_small":19px
    );
    @each $v in map_keys($phone-map){
      .#{$v}{
        width: map_get($phone-map,$v);
        background: url("../img/" + $v + ".svg") no-repeat center center;
      }
    }
    .phone-list::after{
      content:'';
      display: inline-block;
      width:100%;
    }

    .nav-list{
      text-align: justify;
      @include ons{
        display: none;
      }
      .nav-item{
        display: inline-block;
        transition: opacity .3s ease;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    a{
      height: 44px;
      display: block;
    }
    $nav-map:(
      "apple":20px,
      "mac":31px,
      "ipad":30px,
      "iphone":48px,
      "watch":44px,
      "tv":20px,
      "music":40px,
      "support":57px,
      "search":20px,
      "bag":18px
    );


    @each $v in map_keys($nav-map){
      .#{$v}{
        width: map_get($nav-map,$v);
        background: url("../img/#{$v}.svg") no-repeat center center;
      }
    }
    .nav-list::after{
      content:'';
      display: inline-block;
      width:100%;
    }
  }
}

@keyframes comein {
  0%{
    transform: translate3d(0,-100px,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}

@keyframes comeout {
  0%{
    transform: translate3d(0,0,0);
  }
  100%{
    transform: translate3d(0,-700px,0);
  }
}
.searching{
  .menu{
    transition: transform .8s ease;
    transform: scale(0,0);
  }
  .search-box .search-inner{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  .search-box .card li{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  .search-box .card{
    transition: opacity .8s ease;
    opacity:1;
  }

}
.menu{
  transition: transform .8s ease;
  transform: scale(1,1);
}

.search-box{
  width: 680px;
  height: auto;
  z-index: -1;
  @include zuoyou;
  overflow: hidden;
  .sousuo{
    width: 680px;
    height: 44px;
    position: relative;
    .search{
      width: 40px;
      height: 44px;
      display: inline-block;
    }
    input{
      width: 640px;
      border: 0;
      outline: none;
      background: rgba(51, 51, 51, 1);
      display: inline-block;
      @include shangxia;

    }

  }
  .search-inner{
    transition: transform .8s ease;
    transform: translate3d(100%,0,0);
    opacity: 0;
    height: 44px;

  }

  .card{
    background: #fff;
    padding: 10px;
    opacity: 0;
    li{
      height: 30px;
      padding: 5px 5px 0 20px;
      position: relative;
      color: #999;
      font-size: 15px;
      transform: translate3d(200px,0,0);
      opacity: 0;
      &:hover{
        background: #f2f2f2;
        color: #0070c9;
        cursor: pointer;
      }
    }
    @for $i from 1 through 7 {
       li:nth-child(#{$i}){
        transition: transform .8s ease ($i)/2*0.2s,opacity .8s ease ($i)/2*0.2s;
      }
    }

  }
}




//主体内容
$m-size:1070px;
@mixin onm{
  @media screen and (max-width: $m-size) {
    @content;
  }
}

$s-size:736px;
@mixin ons{
  @media screen and (max-width: $s-size){
    @content;
  }
}

.row{
  overflow: hidden;
}
.col{
  float: left;
}
.ads li{
  height: 200px;
  box-sizing: border-box;
}
@for $i from 1 through 12{
  .d-#{$i}{
    width: percentage($i/12);
  }
}
@for $i from 1 through 5{
  .t-#{$i}{
    width: percentage($i/5);
  }
}
@include onm{
  @for $i from 1 through 12{
    .m-#{$i}{
      width: percentage($i/12);
    }
  }
}
@include ons{
  @for $i from 1 through 12{
    .s-#{$i}{
      width: percentage($i/12);
    }
  }
}
$ads-list:"ios","music","watchos","iphone_upgrade";
.ads{
  @each $ad in $ads-list{
    .#{$ad}{
      background: url("../img/" + $ad + "_large.jpg") no-repeat center center;
    }
    @include onm{
      .#{$ad}{
        background: url("../img/" + $ad + "_medium.jpg") no-repeat center center;
      }
    }
    @include ons{
      .#{$ad}{
        background: url("../img/" + $ad + "_small.jpg") no-repeat center center;
      }
    }
  }
}


//banner
.banner-box{
  width: 100%;
  height: 540px;
  margin: 0 auto;
  height: calc( 100vh - 76px);
  position: relative;
  overflow: hidden;
  .gallery{
    height: 100%;
    a{
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;

        .iphone-zi{
          width: 95px;
          height: 24px;
          left: 50%;
          margin-left: -47.5px;
          margin-top: 70px;
          background-size: 95px 24px;
          position: relative;
        }
        .this-iphone7{
          font-size: 42px;
          font-weight: 200;
          margin-top: 0.3em;
          left: 50%;
          margin-left: -47.5px;
          position: relative;
          color: #fff;
        }

        .watch-zi{
          width: 148px;
          height: 56px;
          left: 50%;
          margin-left: -47.5px;
          margin-top: 70px;
          background-size: 148px 56px;
          position: relative;
        }


        .airpods-zi{
          width: 108px;
          height: 23px;
          left: 50%;
          margin-left: -54px;
          margin-top: 70px;
          background-size: 108px 23px;
          position: relative;
        }
        .Wireless{
          width: 100%;
          font-size: 22px;
          font-weight: normal;
          margin-top: 0.3em;
          left: 50%;
          margin-left: -148px;
          position: relative;
          color: #333;
        }
        .event-zi{
          width: 283px;
          height: 30px;
          left: 50%;
          margin-left: -140px;
          margin-top: 70px;
          background-size: 283px 30px;
          position: relative;
        }
        .keynote{
          width: 100%;
          font-size: 22px;
          font-weight: normal;
          margin-top: 0.3em;
          left: 50%;
          margin-left: -100px;
          position: relative;
          color: #fff;
        }
    }
    .left{
      display: block;
      transform: translate3d(-100%,0,0);
    }
    .right{
      display: block;
      transform: translate3d(100%,0,0);

    }
    .active{
      transition: transform 1s ease;
      transform: translate3d(0,0,0);
      z-index: 11;
    }
    .leave{
      transition: transform 1s ease;
      display: block;
      z-index: 1;
      transform: translate3d(-300px,0,0);
    }
    .enter{
      transition: transform 1s ease;
      display: block;
      z-index: 1;
      transform: translate3d(300px,0,0);
    }
  }
  .buttonlr{
    width: 100%;
    height: 0;
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;
    text-align: justify;

    .whell-left,.whell-right{
      width: 20%;
      height: 496px;
      margin-top: 44px;
      position: absolute;
      display: inline-block;
      cursor: pointer;
        &:hover .whleft,&:hover .whright{
          opacity: 0.8;
        }
    }
      .whleft,.whright{
        opacity: 0;
        text-align: center;
        line-height: 64px;
        cursor: pointer;
        color: #848484;
        font-size: 36px;
        font-family: "Apple Icons";
        font-weight: bold;
        background: rgba(180,180,180,0.25);
      }

    .whell-left{
      top: 0;
      left: 0;
      .whleft{
        @include yuan(64px);
        position:absolute;
        top:0;
        bottom:0;
        left:20px;
        margin:auto;
      }
    }
    .whell-right{
      top: 0;
      right: 0;
      .whright{
        @include yuan(64px);
        position:absolute;
        top:0;
        bottom:0;
        right:20px;
        margin:auto;
      }
    }

  }
  .buttonlr::after{
    content:'';
    width: 100%;
    display: inline-block;
  }

  .doc-list{
    width: 240px;
    height: 22px;
    position: absolute;
    bottom: 20px;
    z-index: 12;
    text-align: justify;
    @include zuoyou;
    .docs{
      width: 50px;
      height: 2px;
      display: inline-block;
      cursor: pointer;
      padding: 10px 0;
      .xi{
        height: 2px;
        background: rgba(220,220,220, 1);

      }
      .active{
        background: rgba(128,128,128, 1);
      }
    }

  }
  .doc-list::after{
    content: '';
    width: 100%;
    display: inline-block;
  }

}

.btnxian{
  .whleft,.whright{
    transition: opacity .8s ease;
    opacity: 1;
  }
}


$banner-map:(
        "iphone":#000,
        "watch":#f2f2f2,
        "airpods":#fff,
        "event":#000,
);

@each $b in map_keys($banner-map){
  .#{$b}{
    background-color: map_get($banner-map,$b);
    background-image: url("../img/" + $b + "_large.jpg");
  }
}













//底部
.bottom-box{
  width: 100%;
  height: 356px;
  background: rgb(242, 242, 242);
  @include ons{
    display: none;
  }
}
.bottom{
  max-width: 980px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
  text-align: justify;
  @include ons{
    display: none;
  }
  input{
    display: none;
  }
  .boms{
    display: inline-block;

  }
  a:hover{
    text-decoration: underline;
  }
}
.bottom::after{
  content:'';
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.footer{
  width: 980px;
  padding: 20px 0 24px;
  color: #999;
  font-size: 12px;
  background: rgb(242, 242, 242);
  @include zuoyou;
  @include ons{
    display: none;
  }
  .footer-top{
    height: 26px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 6px;
    padding-bottom: 5px;
    a{
      color:#0070c9;
    }
  }
  .footer-btm{
    height: 20px;
    .copyright{
      float: left;
      margin-right: 26px;
    }
    .footer-link{
      float: left;
      a{
        border-right: 1px solid #d6d6d6;
        margin-right: 10px;
        padding-right: 12px;
        color:#666;

      }
    }
    .footer-local{
      float: right;
      span{
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url("../img/16.png");
        vertical-align: middle;
      }
    }
  }

  a:hover{
    text-decoration: underline;
    color: #333333;
  }
}

.footer2 {
  height: auto;
  max-width: 630px;
  padding: 0 20px;
  padding-top: 20px;
  display: none;
  box-sizing: border-box;
  .footer2-inner{
    width: 100%;
    height:100%;
    ul {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #E3E3E3;
      span {
        width: 100%;
        font-size: 15px;
        color: #333;
        line-height: 37px;
        cursor: pointer;
        position: relative;
        display: block;
        &:hover{
          color: #000;
        }
        .shi {
          float: right;
          width: 20px;
          height: 20px;
          margin-top: 10px;
          position: relative;
          .heng {
            width: 9px;
            height: 1px;
            background: #333333;
            position:absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
            transition: all .8s ease;
          }
          .shu {
            width: 1px;
            height: 9px;
            background: #333333;
            position:absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
            transition: all .8s ease;
          }
        }
      }
      .shi.cha{
        .heng{
          transform:rotateZ(45deg);
        }
        .shu{
          transform:rotateZ(45deg);
        }
      }
      li {
        width: 100%;
        height: 37px;
        display: none;
        font-size: 12px;
        color: #666;
        line-height: 21px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}

.footer2 .bottom{
  display:none;
  width:100%;
  height:100%;
  padding:20px 0;
  .shop{
    width:100%;
    padding-bottom:5px;
    margin-bottom:6px;
    color:#999;
    font-size:2px;
    a{
      text-decoration: none;
      color:#0070c9;
      font-size:2px;
      &:hover{
        text-decoration: underline;
        color:#333;
      }
    }
  }
  .local{
    width:100%;
    height:16px;
    padding:10px 0 18px 0;
    a{
      font-size:2px;
      text-decoration: none;
      color:#999;
      &:hover{
        text-decoration: underline;
        color:#333;
      }
    }
    .usab{
      span{
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url("../img/16.png");
        vertical-align: middle;
      }
    }
  }
  .legal{
    width:100%;
    padding-top:18px;
    padding-bottom:18px;
    height:auto;
    position:relative;
    .cyi{
      position:absolute;
      top:0;
      left:0;
      color:#999;
      font-size:2px;
    }
    .cer{
      position:absolute;
      left:0;
      top:16px;
      a{
        color:#666;
        font-size:2px;
        text-decoration: none;
        margin-right:10px;
        padding-right:12px;
        border-right:1px solid #ccc;
        &.qu{
          border-right:none;
        }
        &:hover{
          text-decoration: underline;
          color:#333;
        }
      }

    }
  }
}
@include ons{
  .footer{
    display: none;
  }
  .footer2{
    display: block;
    .bottom{
      display:block;
    }
  }
}
